<div class="x-scroller" style="margin-bottom: 16px;">
    <table class="fragment">
        <tr>
            <th><%= entry.name %></th>
            <th class="right"><%= entry.date %></th>
        </tr>
        <tr>
            <td colspan="2">
                <div><%= entry.message %></div>
            </td>
        </tr>
    </table>
</div>