<div class="x-scroller" style="margin-bottom: 16px;">
    <table class="fragment">
        <tr>
            <th><%= entry.name %></th>
            <th class="right"><%= entry.date %></th>
        </tr>
        <tr>
            <td style="padding: 8px 16px" colspan="2">
                <%= entry.message %>
            </td>
        </tr>
    </table>
</div>
