<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="horz">
        <%= erb :_nav %>
        <div id="main">
            <div class="markdown-content">
                <h1>This is a work in progress.</h1>
                <hr>
            </div>
            <% @document.cipher_text.each do |cipher_block| %>
                <span class="cipher-block">
                    <% cipher_block.chars.each do |char| %>
                        <img class="cipher-symbol" width='24px' height='24px' src="/svg/cipher/<%= char.downcase %>.svg">
                    <% end %>
                </span>
            <% end %>
        </div>
    </div>
</body>

<style>
    .cipher-block {
        padding: 8px 0;
    }

    .cipher-symbol {
        width: 24px;
        height: 24px;
    }
</style>

</html>