<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="horz">
        <%= erb :_nav %>
        <div id="main">
            <% content.each do |entry| %>
                <%= erb :_fragment, locals: { entry: entry } %>
            <% end %>
        </div>
    </div>
</body>

</html>