<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="horz">
        <%= erb :_nav %>
        <div id="main">
            <span>
                <h1>Garmin</h1>
                <p>This is a work in progress!</p>
            </span>
            <div class="divider"></div>
            <pre><%= JSON.pretty_generate(@data) %></pre> 
        </div>
    </div>
</body>

</html>
