<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="horz">
        <%= erb :_nav %>
        <div id="main">
            <%= erb :_markdown_partial, locals: { content: render_markdown(@file_path) } %>
        </div>
    </div>
</body>

</html>
