<!DOCTYPE html>
<html>

<%= erb :_head, locals: { copy: @copy } %>

<body>
    <div id="horz">
        <%= erb :_nav %>
        <div id="main">
            <%= erb :_toolbox, locals: { links: { "Edit" => "/write/#{@document.id}", }} %>
            <%= erb :_markdown, locals: { content: render_markdown(@document.file_path) } %>
        </div>
    </div>
</body>

</html>
