@font-face {
    font-family: 'Gramercy';
    src: url('/fonts/GramercyVariable.woff2') format('woff2');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    margin: 16px;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

#notification {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 32px;
    top: 32px;
    opacity: 0;
}

div.page {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

div.page.row {
    flex-direction: row;
}

body * {
    font-family: 'Gramercy', serif;
}

.inline-fields {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 32px !important;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

input#id, input#title {
    padding: 0 4px;
}

.toggle-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.2s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.2s;
    border-radius: 50%;
}

.toggle input:checked + .slider {
    background-color: #4caf50;
}

.toggle input:checked + .slider:before {
    transform: translateX(16px);
}

textarea {
    margin: 0;
    padding: 4px;
    border: none;
    min-height: 40vh;
}

textarea:focus {
    outline: none !important;
}

#postForm {
}